<html>
<head>
    <title>STORE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
    <div class="container-fluid"  >
        <div class="row" >
            <center>
                <h1>Welcome to Store</h1>
                </center>
         </div>

        <div class="row">
            <nav class="navbar navbar-default">
                <div class="navbar-header" style="background-color:#8BC34A;">
                    <a class="navbar-brand" href="http://127.0.0.1:8000/" >ONLINESTORE</a>
                </div>
                <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home </a></li>
                <li><a href="#">Products</a></li>
                    <li><a href="/cart">Cart ({{cart_count}})</a></li>
            </ul>

            </nav>

        </div>
    </div>



   {% block body %}
   {% endblock%}

    </body>
</html>