{% extends "base.html" %}
{% block body %}
<p>Home >> {{item.categories.name}} >> {{item.name}}</p>
<center>
<table class="table">
    <tr>
        <td><img src="{{item.image}}" width="256px" height="256px"></td>
    </tr>
    <tr>
        <td>{{item.name}}</td>
    </tr>
     <tr>
        <td>Rs. {{item.price}}</td>
    </tr>
    <tr>
        <td>

            <form method="post" action="{{item.slug}}.html">
                 {%csrf_token%}
                <input type="hidden" name="product_slug" value="{{item.slug}}" >
                <input type="submit" value="Add To Cart"  name="add-to-cart" id="start_submit" class="btn btn-primary"/>
                <button type="button" class="btn btn-success">Checkout</button>
            </form>
        </td>

    </tr>
</table>
</center>

{% endblock %}